@model List<Package>
@using Microsoft.AspNetCore.Identity
@using GymFitApplication.Areas.Identity.Data;
@inject UserManager<GymFitApplicationUser> UserManager

@{
    ViewData["Title"] = "PackageList";
}

@if (ViewBag.msg != null)
{
    <script>alert("@ViewBag.msg"");</script>
}


<style>
    button {
        background-color: rgb(245, 99, 75);
        border: 0;
        color: white;
    }
</style>

<h3>@ViewData["Title"]</h3>


<center style="margin-top:80px; margin-bottom:50px">
    <div class="row">
        <div class="col-4">
            <form method="post" asp-action="Search" asp-controller="Package">
                <label>Keyword</label> &nbsp;&nbsp;
                <input type="text" name="SearchString" /> &nbsp;&nbsp;
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="col-4">
            <h1>Package List</h1>
        </div>
        <div class="col-4">
            <a class="nav-link" asp-action="Index" asp-controller="Package">
                <button class="btn-lg">New Package</button>
            </a>
        </div>
    </div>


    <div style="padding:20px 50px">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Duration</th>
                    <th>Tutor</th>
                    <th>Action</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var package in Model)
                {
                    <tr>
                        <td>@package.Name</td>
                        <td>@package.Description</td>
                        <td>@package.Price</td>
                        <td>@package.Duration</td>
                        <td>
                            @{
                                @foreach (var user in UserManager.Users.Where(u => u.Id == package.UserId))
                                {
                                    @user.UserName
                                }                                
                            }
                        </td>
                        <td><a asp-action="editpage" asp-controller="Package" asp-route-packageid="@package.PackageId"><button>Edit</button></a></td>
                        <td><a asp-action="deletepage" asp-controller="Package" asp-route-packageid="@package.PackageId"><button>Delete</button></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</center>